body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 500px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black
}